body {
    background-color: #000000;
    border: 0px none;
    margin: 0px;
    padding: 0px;
}

div {
    /*background-color: #000000;*/
    margin: 0px;
    padding: 0px;
    position: absolute;
}

div#content {
    z-index: 10;
}

p {
    color: #000000;
    padding: 0px;
    margin: 5px;
}

button.grid {
    height: 25px; width: 25px; background-color: #000000;
}

button.editorButton {
    margin-right: 5px;
}

div.editorSection {
    position: static;
    float: left;
    margin: 5px;
    margin-top: 0px;
    width: 100%;
}

div.editorFields {
    float: left;
    padding: 1px;
    position: relative;
}

hr {
    border: 1px solid #000000;
}

/* The palette widget. */
div#thePalette {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    border: 0px none;
    margin: 0px;
    z-index: 1000;
}

div#thePalette table, div#thePalette tbody, div#thePalette tr, div#thePalette td {
    border-collapse: collapse;
    border: 0px none;
    padding: 0px;
    margin: 0px;
}

div#thePalette td {
    padding: 1px;
}

div#thePalette button.paletteColor {
    border: 1px solid;
    border-color: #000000;
    width: 50px;
    height: 50px;
}

div#chosenColor {
    border: 1px solid;
    border-color: #000000;
    height: 50px;
}